{% extends "layout.html" %}
{% block page %}
    <div class=admin-list>
        {% for d in domain_synonyms %}
        <details>
            <summary class="admin-list-item details-dialog-summary-special">{{d.from_hostname}} ➡ {{d.to_hostname}}</summary>
            <details-dialog>
                <form action="domains?U={{session.uuid}}" method=POST>
                <input name=from_hostname value="{{d.from_hostname}}" type=hidden>
                <label>To canonical <input name=to_hostname value="{{d.to_hostname}}" autofocus></label>
                <div class=form-footer>
                    <button class=button-default>Save</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
                </form>
            </details-dialog>
        </details>
        {% endfor %}
    </div>
    <details-menu-bar>
        <details class=details-dialog-outer>
            <summary class=details-dialog-summary>+ New tag</summary>
            <details-dialog>
                <form action="domains?U={{session.uuid}}" method=POST>
                <label>From hostname <input name=from_hostname required autofocus></label>
                <label>To canonical <input name=to_hostname></label>
                <div class=form-footer>
                    <button class=button-default>Save</button>
                    <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
                </div>
                </form>
            </details-dialog>
        </details>
    </details-menu-bar>
{% endblock %}
