<!DOCTYPE html>
<html class="{{#if user.dark_mode}}dark{{/if}} {{#if user.big_mode}}big{{/if}}">
<meta name=viewport content="width=device-width">
<link rel=stylesheet href="../assets/admin.css?27">
<title>{{title}}</title>
<div class=admin-panel>
    <div class=admin-panel-side>
        <a href=".." class=admin-list-item>‹ Back to home</a>
        <nav class=admin-list>
            <a class="admin-list-item {{#if (eq page 0)}}current{{/if}}" href="/admin/tags">Tags</a>
            <a class="admin-list-item {{#if (eq page 1)}}current{{/if}}" href="/admin/domains">Domains</a>
            <a class="admin-list-item {{#if (eq page 2)}}current{{/if}}" href="/admin/customization">Customization</a>
            <a class="admin-list-item {{#if (eq page 3)}}current{{/if}}" href="/admin/flags">Flags</a>
            <a class="admin-list-item {{#if (eq page 4)}}current{{/if}}" href="/admin/comment-flags">Comment Flags</a>
            <a class="admin-list-item {{#if (eq page 5)}}current{{/if}}" href="/admin/users">Users</a>
        </nav>
    </div>
    <div class=admin-panel-main>
    {{#if alert}}
        <div class=inner-banner role=alert>{{alert}}</div>
    {{/if}}
    {{#if is_home}}
        {{# if config.front_notice_html}}
            <div class=inner-banner>{{{config.front_notice_html}}}</div>
        {{/if}}
    {{/if}}
    {{~> page}}
    </div>
</div>
<script>
    window.addEventListener("load", function() {
    Array.prototype.slice.call(document.getElementsByClassName("admin-list")).forEach(function(el) {
        el.setAttribute("tabindex", 0);
        el.setAttribute("role", "listbox");
        var items = [];
        var setActiveIdx = function(activeIdx) {
            var item;
            for (var itemIdx = 0; itemIdx !== items.length; itemIdx += 1) {
                item = items[itemIdx];
                while (item.className.indexOf("current") !== -1) {
                    item.className = item.className.replace("current", "");
                }
                while (item.className.indexOf("focus") !== -1) {
                    item.className = item.className.replace("focus", "");
                }
                item.removeAttribute("aria-selected");
            }
            items[activeIdx].className += document.activeElement === el ? " focus current " : " current ";
            items[activeIdx].setAttribute("aria-selected", true);
            return activeIdx;
        };
        Array.prototype.slice.call(el.getElementsByClassName("admin-list-item")).forEach(function(item) {
            item.setAttribute("tabindex", -1);
            item.setAttribute("role", "option");
            items.push(item);
        });
        var item_ = el.getElementsByClassName("current")[0];
        if (item_) {
            item_.setAttribute("aria-selected", "true");
        }
        el.addEventListener("click", function(e) {
            if (e.target.className.indexOf("admin-list-item") !== -1) {
                var itemIdx = items.indexOf(e.target);
                if (itemIdx !== -1) {
                    setActiveIdx(itemIdx);
                }
            }
        });
        el.addEventListener("focus", function(e) {
            var item = el.getElementsByClassName("current")[0];
            if (!item) {
                setActiveIdx(0);
            } else if (item.className.indexOf("focus") === -1) {
                item.className += " focus";
            }
        });
        el.addEventListener("blur", function(e) {
            var item = el.getElementsByClassName("current")[0];
            if (item) {
                while (item.className.indexOf("focus") !== -1) {
                    item.className = item.className.replace("focus", "");
                }
            }
        });
        el.addEventListener("keydown", function(e) {
            var item;
            var itemIdx;
            if (document.activeElement !== el) {
              if (document.activeElement.className.indexOf("admin-list-item") !== -1) {
                item = document.activeElement;
                el.focus();
              } else {
                return;
              }
            } else {
              item = el.getElementsByClassName("current")[0];
              if (!item) item = items[0];
            }
            itemIdx = items.indexOf(item);
            switch (e.key.toLowerCase()) {
                case "arrowdown":
                case "down":
                    itemIdx += 1;
                    itemIdx %= items.length;
                    setActiveIdx(itemIdx);
                    e.preventDefault();
                break;
                case "arrowup":
                case "up":
                    itemIdx -= 1;
                    if (itemIdx === -1) {
                        itemIdx = items.length - 1;
                    } else {
                        itemIdx %= items.length;
                    }
                    setActiveIdx(itemIdx);
                    e.preventDefault();
                break;
                case "enter":
                case "return":
                    item.click();
                    e.preventDefault();
                break;
                case "home":
                    itemIdx = setActiveIdx(0);
                    e.preventDefault();
                break;
                case "end":
                    itemIdx = setActiveIdx(items.length - 1);
                    e.preventDefault();
                break;
                case "tab":
                    return;
            }
            if (el.scrollHeight > el.clientHeight) {
                var scrollBottom = el.clientHeight + el.scrollTop;
                var elementBottom = items[itemIdx].offsetTop + items[itemIdx].offsetHeight;
                if (elementBottom > scrollBottom) {
                  el.scrollTop = elementBottom - items[itemIdx].clientHeight;
                } else if (items[itemIdx].offsetTop < el.scrollTop) {
                  el.scrollTop = items[itemIdx].offsetTop;
                }
            }
        });
    });
    });
</script>
<script>
    const a = async () => {};
    let b = a;
    window.moreInterestingIsAsyncAvailable = b;
</script>
<script>
    var s = document.createElement("script");
    if (window.HTMLDetailsElement && window.URLSearchParams && window.customElements && window.moreInterestingIsAsyncAvailable && window.fetch) {
        s.src = "../assets/dist/modern.min.js?27";
    } else {
        s.src = "../assets/dist/legacy.min.js?27";
    }
    s.defer = true;
    s.async = true;
    document.body.appendChild(s);
</script>
