/* based on http://necolas.github.com/normalize.css/ and https://design.firefox.com/photon/visuals/color.html and Windows 98 */

/*
 note for anyone working on this:

 - Avoid attempts to special-case the first element, and even more so, the last element.
   Such special cases break style reuse.

 - Avoid child queries (queries with spaces in them, like `a b`).
   They cause the engine to check the child `b` then check the parent `a`.
 */

html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.62;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

html,
button,
input,
optgroup,
select,
textarea,
:link.button,
:link:active.button,
:visited.button,
:visited:active.button,
.details-dialog-summary,
.details-menu-summary,
article,
aside,
details-dialog,
.details-menu-inner
{
    background: #f9f9fa;
    color:  #0c0c0d;
}

.article-header-inner {
    background: #f9f9fa;
}

html.dark,
html.dark article,
html.dark aside,
html.dark input,
html.dark textarea,
html.dark details-dialog,
html.dark .details-menu-inner
{
    background: #202340;
    color: #f9f9fa;
}

html.dark button,
html.dark input[type="submit"],
html.dark optgroup,
html.dark select,
html.dark :link.button,
html.dark :link:active.button,
html.dark :visited.button,
html.dark :visited:active.button,
html.dark .details-dialog-summary,
html.dark .details-menu-summary {
    background: #363959;
    color: #f9f9fa;
}

html.dark .article-header-inner {
    background: #202340;
}

html.big {
    font-size: 1.5em;
}

nav, .main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

html.big nav, html.big .main {
    max-width: none;
    margin: 0 1em;
}

.main-outer {
    flex-grow: 1;
    overflow: visible;
    padding: 0;
}

nav {
    padding: 0.5em;
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
header,
main,
footer {
    display: block;
    overflow: hidden;
    padding: 0.5em;
}

footer {
    padding-top: 0;
}

figure {
    margin: 1em 2.5px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    /* this is the opposite of how normalize.css does it */
    /* it's done this way to get consistent appearance with IE11 */
    border-bottom: dotted 1px currentColor;
    text-decoration: inherit;
}

b,
strong {
    /* Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ffe900;
    color: #0c0c0d;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea,
.smart-textarea,
:link.button,
:visited.button,
.details-dialog-summary,
.details-menu-summary {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border: solid 1px #737373;
    text-decoration: none;
}

input,
textarea,
.smart-textarea {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
}

button,
html [type="button"],
html [type="submit"],
select,
:link.button,
:visited.button,
.details-dialog-summary,
.details-menu-summary {
    border: solid 2px #eee;
    border-bottom-color: #0c0c0d;
    border-right-color: #0c0c0d;
    border-image: url("outset.svg") 2;
    width: auto;
    outline-offset: -0.25em;
    outline-offset: calc(-0.25em + -2px);
    outline-color: currentColor;
    padding: 0.25em 0.5em;
}

html.dark button,
html.dark html [type="button"],
html.dark html [type="submit"],
html.dark select,
html.dark :link.button,
html.dark :visited.button,
html.dark .details-dialog-summary,
html.dark .details-menu-summary {
    border: solid 2px #575765;
    border-bottom-color: #0f1126;
    border-right-color: #0f1126;
    border-image: url("outset-dark.svg") 2;
}

input,
textarea,
.smart-textarea,
button:active,
html [type="button"]:active,
html [type="submit"]:active,
select:active,
.button:active,
.details-menu-summary:active,
details[open] .details-menu-summary,
.details-dialog-summary:active {
    border: solid 2px #eee;
    border-top-color: #0c0c0d;
    border-left-color: #0c0c0d;
    border-image: url("inset.svg") 2;
    position: relative;
    top: 1px;
    left: 1px;
}

html.dark input,
html.dark textarea,
html.dark button:active,
html.dark html [type="button"]:active,
html.dark html [type="submit"]:active,
html.dark select:active,
html.dark .button:active,
html.dark .details-menu-summary:active,
html.dark details[open] .details-menu-summary,
html.dark .details-dialog-summary:active {
    border: solid 2px #575765;
    border-top-color: #0f1126;
    border-left-color: #0f1126;
    border-image: url("inset-dark.svg") 2;
}

button,
:link.button,
:visited.button,
.details-menu-outer,
.details-dialog-outer {
    display: inline-block;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"],
.details-menu-summary,
.details-dialog-summary {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea,
.smart-textarea {
    overflow: auto;
    min-height: 8em;
}

textarea.smart-textarea {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    resize: none;
}
pre.smart-textarea {
    overflow: hidden;
    visibility: hidden;
}
.smart-textarea-wrapper {
    position: relative;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

:link {
    color: #0060df;
}
html.dark :link {
    color: #45a1ff;
}
:visited {
    color: #8000d7;
}
html.dark :visited {
    color: #c069ff;
}
:link:active, :visited:active {
    color: #d70022;
}
html.dark :link:active, html.dark :visited:active {
    color: #ff0039;
}

.inner-link:link {
    color: #058b00;
}
html.dark .inner-link:link {
    color: #30e60b;
}

article, aside {
    display: block;
    border: solid 1px #0c0c0d;
    margin: 1.5em 0;
}

html.dark article, html.dark aside {
    border-color: #737373;
}

.article-header {
    margin-top: -1.5em;
    margin-bottom: -0.5px;
    padding: 0 0.75em;
    display: block;
}

.article-header-inner {
    padding: 0.5em;
    padding: calc(0.5em - 1px);
    outline-offset: -0.5em;
    outline-offset: calc(-0.5em - -1px);
    display: inline-block;
    overflow: hidden;
    margin: 0 -0.25em;
    margin: 0 calc(-0.25em + 1px);
}

.top-header {
    background: #363959;
    border-bottom: solid 1px #0f1126;
    box-shadow: 0 1px 0 #0c0c0d;
    color: #fff;
    padding: 0;
    overflow: visible;
}
.top-header-link, html.dark .top-header-link {
    color: #fff;
}
.top-header-aside {
    float: right;
}

.module-aside {
    float: right;
}

details-dialog, .details-menu-inner {
    box-shadow: 0.25em 0.25em 0 #0c0c0d;
    border: solid 1px #fff;
    border-bottom: solid 1px #737373;
    border-right: solid 1px #737373;
    padding: 0.25em 0.5em;
    margin: 0.5em 0;
}

details-dialog {
    display: none;
}
details[open] details-dialog {
    z-index: 400;
    display: block;
}

.details-menu-summary::-webkit-details-marker,
.details-dialog-summary::-webkit-details-marker {
    display: none;
}
.details-menu-summary::before,
.details-dialog-summary::before {
    display: none;
}
.details-menu-summary {
    list-style: none;
    cursor: default;
    z-index: 200;
    position: relative;
}
.details-menu-summary::after {
    content: " ▾";
}
.js details[open] .details-menu-summary {
    z-index: 100;
}
details[open] .details-menu-summary::before {
    display: block;
    position: fixed;
    content: ".";
    color: transparent;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
.details-dialog-summary {
    list-style: none;
    cursor: default;
    position: relative;
}

details[open] .details-dialog-summary::before {
    display: block;
    position: fixed;
    content: ".";
    color: transparent;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 300;
    background: rgba(50, 50, 50, 0.5);
}

.details-menu-inner {
    position: absolute;
    z-index: 300;
    display: none;
    padding: 2px;
    margin: 2px;
}
details[open] .details-menu-inner {
    display: block;
}

.details-menu-outer.backwards {
    direction: rtl;
}
.details-menu-inner.backwards {
    direction: ltr;
}
.details-menu-summary.backwards {
    direction: ltr;
}

/*
All of the styles here are important.
Do not combine this class with other classes.
Do not use important in anything other than classes like this one,
where we need to override button and link styles to
get anything reasonable-looking.
*/
.details-menu-item {
    background: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    text-decoration: none !important;
    display: block !important;
    white-space: nowrap !important;
    padding: 0.25em 0.5em !important;
    width: auto !important;
    -webkit-appearance: none !important;
    text-align: left !important;
    line-height: 1.62 !important;
}
button.details-menu-item {
    width: 100% !important;
}
.details-menu-item:focus {
    background: #45a1ff !important;
}
html.dark .details-menu-item:focus {
    background: #003eaa !important;
}

.tree, .subtree {
    margin: 0;
    padding: 0;
}
.tree li, .subtree li {
    list-style-type: none;
}
.subtree li {
    border-left: solid 1px #0f1126;
    padding-left: 0.25em;
    margin-left: 0.25em;
}

details-dialog {
    position: fixed;
    margin: 10vh auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    max-height: 80vh;
    max-width: 90vw;
    width: 448px;
}

.inline-form {
    display: inline;
}

p {
    margin-top: 0;
}

local-date {
    border-bottom: dotted 1px currentColor;
}

.good-img {
    width: 0.75em;
    height: 0.75em;
}