/* based on http://necolas.github.com/normalize.css/ and https://design.firefox.com/photon/visuals/color.html and Windows 98 */

/*
 note for anyone working on this:

 - Avoid attempts to special-case the first element, and even more so, the last element.
   Such special cases break style reuse.

 - Avoid child queries (queries with spaces in them, like `a b`).
   They cause the engine to check the child `b` then check the parent `a`.
 */

html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.77;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-size: 0.9em;
    overflow-x: hidden;
    overflow-y: scroll;
}


button:focus,
input:focus,
select:focus,
:link.button:focus,
:visited.button:focus,
:link:focus,
:visited:focus,
.details-dialog-summary:focus,
.details-menu-summary:focus,
textarea:focus,
.smart-textarea:focus {
    box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px #b1d6fc;
    box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
    z-index: 10;
    position: relative;
}

:link, :visited {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),color-stop(50%,#b1b1b3));
    background-image: -webkit-linear-gradient(top,transparent 50%,#b1b1b3 50%);
    background-image: linear-gradient(to bottom,transparent 50%,#b1b1b3 50%);
    background-repeat: repeat-x;
    -webkit-background-size: 2px 2px;
    background-size: 2px 2px;
    background-position: 0 95%;
}

:link:focus, :visited:focus {
    outline: none;
}

html.dark :link, html.dark :visited {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(50%,transparent),color-stop(50%,#737373));
    background-image: -webkit-linear-gradient(top,transparent 50%,#737373 50%);
    background-image: linear-gradient(to bottom,transparent 50%,#737373 50%);
}

html,
button,
input,
optgroup,
select,
textarea,
:link.button,
:link:active.button,
:visited.button,
:visited:active.button,
.details-dialog-summary,
.details-menu-summary,
article,
aside,
details-dialog,
.details-menu-inner,
.inner-banner
{
    background: #f9f9fa;
    color:  #0c0c0d;
}

.article-header-inner {
    background-color: #f9f9fa;
}

html.dark,
html.dark article,
html.dark aside,
html.dark input,
html.dark textarea,
html.dark details-dialog,
html.dark .details-menu-inner,
html.dark .inner-banner
{
    background: #202340;
    color: #f9f9fa;
}

html.dark button,
html.dark input[type="submit"],
html.dark optgroup,
html.dark select,
html.dark :link.button,
html.dark :link:active.button,
html.dark :visited.button,
html.dark :visited:active.button,
html.dark .details-dialog-summary,
html.dark .details-menu-summary {
    background: #363959;
    color: #f9f9fa;
}

html.dark .article-header-inner {
    background-color: #202340;
}

html.big {
    font-size: 1.5em;
}

nav, .page-wrapper {
    max-width: 90em;
    margin: 0 auto;
    padding: 1em;
}

html.big nav, html.big .page-wrapper {
    max-width: none;
    margin: 0 1em;
}

.page-wrapper-outer {
    overflow: visible;
    padding: 0;
}

.page-wrapper {
    overflow: hidden;
}

nav {
    padding: 0.5em;
}

.nav-second {
     padding-top: 0;
}

html, body {
    margin: 0;
}

@supports (display: flex) {
    html, body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .page-wrapper-outer {
        flex-grow: 1;
    }
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
header,
footer {
    display: block;
    overflow: hidden;
    padding: 0.5em;
}

footer {
    padding-top: 0;
}

figure {
    margin: 1em 2.5px;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace; /* 1 */
    font-size: 1em; /* 2 */
    white-space: pre-wrap;
}

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

abbr[title] {
    /* this is the opposite of how normalize.css does it */
    /* it's done this way to get consistent appearance with IE11 */
    border-bottom: dotted 1px currentColor;
    text-decoration: inherit;
}

b,
strong {
    /* Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ffe900;
    color: #0c0c0d;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea,
.smart-textarea,
:link.button,
:visited.button,
.details-dialog-summary,
.details-menu-summary {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 100%;
    line-height: 1.3;
    margin: 0;
    border: solid 1px #737373;
}

input,
textarea,
.smart-textarea {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    padding: 0.25em;
    font-size: 1.1em;
    line-height: 1.62;
}

input {
    line-height: 1.05;
}

button,
html input[type="button"],
html input[type="submit"],
select,
:link.button,
:visited.button,
.details-dialog-summary,
.details-menu-summary {
    border: solid 2px #eee;
    border-bottom-color: #0c0c0d;
    border-right-color: #0c0c0d;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABBSURBVBhXY/hPADCAiLdvP+DEcAUMaKC4uPi4sLDIW0IK3lNBQWlp6X8QBgr8QcP/pKSkPzDw8fH/x4V5eHj/AwAIl4WCOETMYgAAAABJRU5ErkJggg==") 2;
    width: auto;
    outline: none;
    padding: 0.25em 0.5em;
    -webkit-user-select: none;
    user-select: none;
}

html.dark button,
html.dark html input[type="button"],
html.dark html input[type="submit"],
html.dark select,
html.dark :link.button,
html.dark :visited.button,
html.dark .details-dialog-summary,
html.dark .details-menu-summary {
    border: solid 2px #575765;
    border-bottom-color: #0f1126;
    border-right-color: #0f1126;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABASURBVBhXYyguLv6PDzOACDPLSJwYroABDfALqh1nZGR+S0jBeyooEBBS/w/CQIE/aPgfExPrB6Baxv+4McN/ANClS9zIVZoLAAAAAElFTkSuQmCC") 2;
}

input,
textarea,
.smart-textarea,
button:active,
html input[type="button"]:active,
html input[type="submit"]:active,
select:active,
.button:active,
.details-menu-summary:active,
details[open] .details-menu-summary,
.details-dialog-summary:active {
    border: solid 2px #eee;
    border-top-color: #0c0c0d;
    border-left-color: #0c0c0d;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABFSURBVBhXY+Dh4f2PDzOAiKKiov/FxcVYMVwBAxp4+/bD8X///r0lpOA9FRS8evX2/+vX7/4DBf6g4X9///79wPCfAAAACjiEnsLDGAsAAAAASUVORK5CYII=") 2;
    position: relative;
    top: 1px;
    left: 1px;
}

html.dark input,
html.dark textarea,
html.dark button:active,
html.dark html input[type="button"]:active,
html.dark html input[type="submit"]:active,
html.dark select:active,
html.dark .button:active,
html.dark .details-menu-summary:active,
html.dark details[open] .details-menu-summary,
html.dark .details-dialog-summary:active {
    border: solid 2px #575765;
    border-top-color: #0f1126;
    border-left-color: #0f1126;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABGSURBVBjTY2BgYPhPADP85xdUw4nhChjQgJlFxPH8/MK3hBS8p4ICU4uI/yBsZhn5BwVbRPzLzi74wFBUVPQfFy4uLv4PAOyYS1KSeGvQAAAAAElFTkSuQmCC") 2;
}

html.dark button[disabled],
html.dark button[disabled]:active {
    border: solid 2px #2a2a2e;
}

.button-default {
    box-shadow: inset -1px -1px 0 0 #b1b1b3;
}

html.dark .button-default {
    box-shadow: inset -1px -1px 0 0 #4a4a4f;
}

html .button-default:active {
    box-shadow: none;
}

button,
:link.button,
:visited.button,
.details-menu-outer,
.details-dialog-outer {
    display: inline-block;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

:link.button,
:visited.button,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.details-menu-summary,
.details-dialog-summary {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    opacity: 1;
}

button[disabled],
button[disabled]:active {
    border-image: none;
    border: solid 2px #d7d7db;
    opacity: 0.75;
    top: 0; left: 0;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
input[type="button"]:-moz-focusring,
input[type="reset"]:-moz-focusring,
input[type="submit"]:-moz-focusring {
    outline: none;
}

.flag-button-active {
    background: #a4000f;
    border-image: none;
    border-top: solid 2px #ff0039;
    border-left: solid 2px #ff0039;
    border-bottom: solid 2px #3e0200;
    border-right: solid 2px #3e0200;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea,
.smart-textarea {
    min-height: 8em;
}

.smart-textarea {
    overflow: auto;
}

textarea.smart-textarea {
    overflow: hidden;
    z-index: 2;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    resize: none;
}
pre.smart-textarea {
    overflow: hidden;
    visibility: hidden;
}
.smart-textarea-wrapper {
    position: relative;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

:link {
    color: #0060df;
    text-decoration: none;
}
html.dark :link {
    color: #45a1ff;
}
:visited {
    color: #8000d7;
    text-decoration: none;
}
html.dark :visited {
    color: #c069ff;
}
:link:active, :visited:active {
    color: #d70022;
}
html.dark :link:active, html.dark :visited:active {
    color: #ff0039;
}

.inner-link:link {
    color: #058b00;
}
html.dark .inner-link:link {
    color: #30e60b;
}

.domain-link, html.dark .domain-link {
    font-style: italic;
    color: inherit;
}

article, aside {
    display: block;
    border: solid 1px #0c0c0d;
    position: relative;
}

article {
    margin-top: 1.5em;
    margin-bottom: 3em;
    padding: 0 0 0 0.25em;
}

aside {
    margin: 0.5em 0.5em 0 0;
}

@media (max-width:90em) {
    article {
        margin-left: 0.25em;
    }
    aside {
        margin-left: 0.75em;
    }
}
@media (max-width:45em) {
    article {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .article-header {
        margin-left: -0.75em;
    }
}

html.dark article, html.dark aside {
    border-color: #737373;
}

.article-header {
    margin-top: -1.5em;
    margin-bottom: -0.5px;
    margin-right: 5em;
    padding: 0 0.5em;
    display: block;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

.article-header-inner {
    padding: 0.5em;
    padding: calc(0.5em - 1px);
    outline: none;
    display: inline-block;
    overflow: hidden;
    margin: 0 -0.25em;
    margin: 0 calc(-0.25em + 1px);
}

.top-header {
    background: #363959;
    border-bottom: solid 1px #0f1126;
    box-shadow: 0 1px 0 #0c0c0d;
    color: #fff;
    padding: 0;
    overflow: visible;
}
.top-header-link, html.dark .top-header-link {
    color: #fff;
}
.top-header-aside {
    float: right;
}

details[open] .module-summary {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0;
    list-style-type: none;
}

details[open] .module-summary:before {
    content: "-";
    margin-right: 1em;
}

.module-summary:before {
    margin-right: 0.5em;
    margin-left: -1px;
    width: 1em;
    height: 1em;
    display: inline-block;
    content: "+";
    font-size: 1.25em;
    border: solid 2px transparent;
    opacity: 0.5;
    line-height: 0.75;
    text-align: center;
}

.module-summary:focus:before {
    outline: none;
}

.module-summary:hover:before {
    border: solid 2px #eee;
    border-bottom-color: #0c0c0d;
    border-right-color: #0c0c0d;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABBSURBVBhXY/hPADCAiLdvP+DEcAUMaKC4uPi4sLDIW0IK3lNBQWlp6X8QBgr8QcP/pKSkPzDw8fH/x4V5eHj/AwAIl4WCOETMYgAAAABJRU5ErkJggg==") 2;
    outline: none;
}

.module-summary {
    margin-left: -1.5em;
    list-style-type: none;
    cursor: default;
}

article .module-summary {
    margin-left: -1.75em;
}

details-dialog, .details-menu-inner, .inner-banner {
    box-shadow: 0.25em 0.25em 0 #0c0c0d;
    border: solid 2px #fff;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABBSURBVBhXY/hPADCAiLdvP+DEcAUMaKC4uPi4sLDIW0IK3lNBQWlp6X8QBgr8QcP/pKSkPzDw8fH/x4V5eHj/AwAIl4WCOETMYgAAAABJRU5ErkJggg==") 2;
    border-bottom: solid 1px #737373;
    border-right: solid 1px #737373;
    padding: 0.25em 0.5em;
    margin: 0.5em 0;
    overflow: hidden;
}

html.dark details-dialog, html.dark .details-menu-inner, html.dark .inner-banner {
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABASURBVBhXYyguLv6PDzOACDPLSJwYroABDfALqh1nZGR+S0jBeyooEBBS/w/CQIE/aPgfExPrB6Baxv+4McN/ANClS9zIVZoLAAAAAElFTkSuQmCC") 2;
}

.inner-banner {
    margin-bottom: 2em;
}

details-dialog {
    display: none;
}
details[open] details-dialog {
    z-index: 400;
    display: block;
}

.details-menu-summary::-webkit-details-marker,
.details-dialog-summary::-webkit-details-marker,
.img-lightbox::-webkit-details-marker {
    display: none;
}
.details-menu-summary::before,
.details-dialog-summary::before {
    display: none;
}
.details-menu-summary {
    list-style: none;
    cursor: default;
    z-index: 200;
    position: relative;
}
.details-menu-summary::after {
    content: " ▾";
}
.js details[open] .details-menu-summary {
    z-index: 100;
}
details[open] .details-menu-summary::before {
    display: block;
    position: fixed;
    content: ".";
    color: transparent;
    top: 0; bottom: 0;
    left: 0; right: 0;
}
.details-dialog-summary {
    list-style: none;
    cursor: default;
    position: relative;
}

details[open] .details-dialog-summary::before {
    display: block;
    position: fixed;
    content: ".";
    color: transparent;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 300;
    background: rgba(50, 50, 50, 0.5);
}

.details-menu-inner {
    position: absolute;
    z-index: 300;
    display: none;
    padding: 2px;
    padding-bottom: 3px;
    padding-right: 3px;
    margin: 2px;
}
details[open] .details-menu-inner {
    display: block;
}

.details-menu-outer.backwards {
    direction: rtl;
}
.details-menu-inner.backwards {
    direction: ltr;
}
.details-menu-summary.backwards {
    direction: ltr;
}

/*
All of the styles here are important.
Do not combine this class with other classes.
Do not use important in anything other than classes like this one,
where we need to override button and link styles to
get anything reasonable-looking.
*/
.details-menu-item {
    background: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    text-shadow: none !important;
    display: block !important;
    white-space: nowrap !important;
    padding: 0.25em 0.5em !important;
    width: auto !important;
    -webkit-appearance: none !important;
    text-align: left !important;
    line-height: 1.77 !important;
}
button.details-menu-item {
    width: 100% !important;
}
.details-menu-item:focus {
    background: #45a1ff !important;
}
html.dark .details-menu-item:focus {
    background: #003eaa !important;
}

.tree, .subtree {
    margin: 0;
    padding: 0;
}
.tree li, .subtree li {
    list-style-type: none;
}
.subtree li {
    border-left: solid 1px #0f1126;
    padding-left: 0.25em;
    margin-left: 0.25em;
}

details-dialog {
    position: fixed;
    margin: 10vh auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    max-height: 80vh;
    max-width: 90vw;
    width: 448px;
}

.inline-form {
    display: inline;
}

p {
    margin-top: 0;
}

local-date {
    border-bottom: dotted 1px currentColor;
}

.good-img {
    width: 0.75em;
    height: 0.75em;
}

.good-table td, .good-code {
    padding: 0.25em;
}

.good-table tbody td {
    border-bottom: solid 1px currentColor;
}

.good-table thead td {
    border-bottom: solid 2px currentColor;
}

.good-table, .good-code {
    margin-top: 0;
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px currentColor;
}

main, .main {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.1em;
    line-height: 1.62;
    display: block;
    overflow: hidden;
    padding: 0 0.5em;
}
.main-mini {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5em;
    padding-top: 0;
}

.main-aside {
    padding-top: 0.25em;
}

.form-footer {
    margin-top: 0.75em;
    padding-top: 0.25em;
    margin-left: -2em;
    padding-left: 2em;
    margin-right: -2em;
    padding-right: 2em;
    border-top: solid 2px #fff;
    box-shadow: 0 -1px 0 0 #d7d7db;
    display: block;
}

html.dark .form-footer {
    border-color: #363959;
    box-shadow: 0 -1px 0 0 #000;
}

details:not([open]) > .big-img {
    display: none;
}
.big-img {
    max-width: 95%;
}

.img-lightbox {
    cursor: pointer;
    color: inherit;
    background: transparent none;
    display: block;
    list-style-type: none;
}
.img-lightbox:before {
    border: solid 2px #eee;
    border-bottom-color: #0c0c0d;
    border-right-color: #0c0c0d;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABBSURBVBhXY/hPADCAiLdvP+DEcAUMaKC4uPi4sLDIW0IK3lNBQWlp6X8QBgr8QcP/pKSkPzDw8fH/x4V5eHj/AwAIl4WCOETMYgAAAABJRU5ErkJggg==") 2;
    outline: none;
    content: "+";
    display: inline-block;
    width: 1.5em;
    font-size: 0.75em;
    text-align: center;
    margin-right: 0.25em;
}
details[open] > .img-lightbox:before {
    content: "-";
}

.post-banner {
    font-size: 2em;
    margin: 0;
    text-align: center;
}
.post-banner-desc {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

.tight-headline {
    margin-bottom: 2em;
}
.tight-headline h2, .tight-headline p {
    margin: 0;
}

.footer-main {
    float: left;
}
.footer-aside {
    float: right;
    text-align: right;
    flex-grow: 1;
    white-space: nowrap;
}
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: -0.75em;
    padding-top: 0.5em;
}
