{% extends "layout.html" %}
{% block page %}
{% if !keywords_param.is_empty() %}
<header class=tight-headline>
<h2>Search results</h2>
<code>{{keywords_param}}</code>
</header>
{% endif %}
<h2>Blogs</h2>
{% include "view-index.html" %}
{%- if posts.last().is_some() -%}
<p><a href="blog?after={{posts.last().unwrap().uuid}}{% if !keywords_param.is_empty() %}{% if !title_param.is_empty() %}&title={{title_param|urlencode}}{% endif %}&q={{keywords_param|urlencode}}{% endif %}">Next page</a></p>
{% endif %}
{% endblock %}
