{{#*inline "page"}}
    <form action='' method=POST>
        <input type=hidden name=comment value="{{comment.id}}">
        <label>Edit comment
        <smart-textarea><textarea name=text>{{comment.text}}</textarea></smart-textarea>
        </label>
        <button>Submit</button>
    </form>
    {{#if (gte user.trust_level 3)}}
        <br><br>
    <form action=moderate-comment method=POST>
        <input type=hidden name=comment value="{{comment.id}}">
        <button name=action value=delete>Delete</button>
    </form>
    {{/if}}
{{/inline}}
{{~> (parent)~}}
