{{#*inline "page"}}
    <h2>Create or modify a tag</h2>
    <form action="" method=post>
        <label>Name <input name=name autofocus></label>
        <label>Description <input name=description></label>
        <button>Edit tag</button>
    </form>
{{/inline}}
{{~> (parent)~}}
