{{#*inline "page"}}
    <form action='' method=POST>
        <input type=hidden name=post value="{{posts.0.uuid}}">
        <label>Title and #hashtags <input name=title autofocus value="{{posts.0.title}}" required is="smart-punct-input"></label>
        <label>URL <input name=url value="{{posts.0.url}}"></label>
        <label>Excerpt
            <smart-textarea><textarea name=excerpt is=smart-punct-textarea>{{posts.0.excerpt}}</textarea></smart-textarea>
        </label>
        <details-menu-bar class=form-footer>
        <button class=button-default>Change post</button>
            {{#if (gte user.trust_level 3)}}
            <details class=details-dialog-outer>
                <summary class=details-dialog-summary>Delete</summary>
                <details-dialog>
                    Are you sure you want to delete this post?
                    <div class=form-footer>
                        <button class=button-default name=delete value=true>Delete it</button>
                        <details-dialog-close><a href="." class=button>Cancel</a></details-dialog-close>
                    </div>
                </details-dialog>
            </details>
            {{/if}}
        </details-menu-bar>
    </form>
{{/inline}}
{{~> (parent)~}}
