{{#*inline "page"}}
    <form action='' method=POST>
        <input type=hidden name=comment value="{{comment.id}}">
        <label>Edit comment
        <textarea name=text>{{comment.text}}</textarea>
        </label>
        <button>Submit</button>
    </form>
{{/inline}}
{{~> (parent)~}}
