{% extends "layout.html" %}
{% import "macro-nav.html" as nav %}
{% block nav_second %}
{%-if is_home-%}
{% call nav::home_nav(NavPageId::Home, before_date_param, after_date_param) %}
{%-endif-%}
{% endblock %}
{% block page %}
{% if is_home %}
<div class=side-by-side>
    {% if !customization.front_notice_html.is_empty() %}
        <div class=inner-banner>{{customization.front_notice_html|safe}}</div>
    {% endif %}
    <div class=subordinate-banner>
        <h3 style=margin-top:0><a href=blog style=color:inherit;background:none>Newest blog posts</a></h3>
        <ul>
        {% for post in extra_blog_posts %}
        <li><a href="{{post.uuid}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% for tag in tags %}
{% call nav::tag_nav(tag, NavPageId::Home, before_date_param, after_date_param) %}
{% endfor %}
{% if !domain.is_empty() %}
{% call nav::domain_nav(domain, NavPageId::Home, before_date_param, after_date_param) %}
{% endif %}
{% if !keywords_param.is_empty() %}
{% call nav::keywords_nav(keywords_param, title_param, NavPageId::Home, before_date_param, after_date_param) %}
{% endif %}
{% include "view-index.html" %}
{%- if !keywords_param.is_empty() %}
<p><a href=".?page={{next_search_page}}&q={{keywords_param|urlencode}}{% if !title_param.is_empty() %}&title={{title_param|urlencode}}{% endif %}{% if !tag_param.is_empty() %}&tag={{tag_param}}{% endif %}{% if !domain.is_empty() %}&domain={{domain}}{% endif %}{% if before_date_param.is_some() %}&before_date={{ before_date_param.unwrap() }}{% endif %}{% if before_date_param.is_some() %}&after_date={{ after_date_param.unwrap() }}{% endif %}">Next page</a></p>
{% endif %}
{% endblock %}
