{{#*inline "page"}}
  <form action='' method=post>
      <label>Username <input name=username autofocus></label>
      <label>Password <input name=password type=password></label>
      <button>Log in</button>
  </form>
{{/inline}}
{{~> (parent)~}}
