{% extends "layout.html" %}
{% block page %}
<div class=alert>{{mod_queue|count}} items found in the moderation queue</div>
{% for this in mod_queue %}
  {% match this %}
  {% when ModQueueItem::Post with { post, comments } %}
  <h2>Moderate post</h2>
    <article class="{% if post.blog_post %}blog-post{% endif %}">
        <header class=article-header>{{post.title_html|safe}}{% if post.blog_post %} <a class="blog-tag-article-header-inner" href=blog>blog</a>{% endif %}</header>
            {% if post.excerpt_html.is_some() %}
                <main>{{post.excerpt_html.as_ref().unwrap()|safe}}</main>
            {% endif %}
            <footer class=footer-container>
                <div class=footer-main>
                <a href="@{{post.submitted_by_username_urlencode}}">{{post.submitted_by_username}}</a> {% if post.blog_post %}authored{% else %}submitted{% endif %}
                <a is=local-date href="{{post.uuid}}" title="{{post.created_at}}+00:00">{{post.created_at_relative}}</a> and got
                <a href="{{post.uuid}}#comments">{{post.comment_count}} comments</a>
                </div>
                <form class=footer-aside action="moderate-post?U={{session.uuid}}" method=POST>
                    <input type="hidden" name="post" value="{{post.uuid}}">
                        <button name="action" value="approve" class=button-default>Approve</button>
                        <a href="edit-post?post={{post.uuid}}" class=button>Edit</a>
                        <button name="action" value="delete">Delete</button>
                </form>
            </footer>
        </article>
    {% for comment in comments %}
        <aside id="{{comment.id}}">
            <header class=aside-header>
                <img width=15 height=15 class=identicon src=identicon/{{comment.created_by_identicon}}>
                <a href="@{{comment.created_by_username_urlencode}}" class=top-header-link>{{comment.created_by_username}} commented</a>
                <a is=local-date href="#{{comment.id}}" class="top-header-link top-header-aside" title="{{comment.created_at}}+00:00">{{comment.created_at_relative}} #{{comment.id}}</a>
            </header>
            <main>{{comment.html|safe}}</main>
            <footer class=footer-container>
                <div class=footer-main>
                {% if !comment.starred_by.is_empty() %}
                    starred by
                    {% for user in comment.starred_by %}
                        <a href="@{{user|urlencode}}">{{user}}</a>
                        {% if !loop.last %},{% endif %}
                    {% endfor %}
                {% endif %}
                </div>
                <div class=footer-aside>
                    <button disabled>More</button>
                </div>
            </footer>
        </aside>
    {% endfor %}
  {% when ModQueueItem::Comment with { post, comment } %}
  <h2>Moderate Comment</h2>
        {% if post.banner_title.is_some() %}
            <p class=post-banner>{{post.banner_title.as_ref().unwrap()|safe}}</p>
        {% endif %}
        {% if post.banner_desc.is_some() %}
            <p class=post-banner-desc>{{post.banner_desc.as_ref().unwrap()|safe}}</p>
        {% endif %}
        <details><summary>Post</summary><article>
            <header class=article-header>{{post.title_html|safe}}</header>
            {% if post.excerpt_html.is_some() %}
                <main>{{post.excerpt_html.as_ref().unwrap()|safe}}</main>
            {% endif %}
            <footer>
            <a href="@{{post.submitted_by_username_urlencode}}">{{post.submitted_by_username}}</a> submitted
            <a is=local-date href={{post.uuid}} title="{{post.created_at}}+00:00">{{post.created_at_relative}}</a> and got
            <a href="{{post.uuid}}#comments">{{post.comment_count}} comments</a>
            </footer>
        </article></details>
        <aside id="{{comment.id}}">
            <header class=aside-header>
                <img width=15 height=15 class=identicon src=identicon/{{comment.created_by_identicon}}>
                <a href="@{{comment.created_by_username_urlencode}}" class=top-header-link>{{comment.created_by_username}} commented</a>
                <a is=local-date href="#{{comment.id}}" class="top-header-link top-header-aside" title="{{comment.created_at}}+00:00">{{comment.created_at_relative}} #{{comment.id}}</a>
            </header>
            <main>{{comment.html|safe}}</main>
            <footer class=footer-container>
                <div class=footer-main>
                {% if !comment.starred_by.is_empty() %}
                    starred by
                    {% for user in comment.starred_by %}
                        <a href="@{{user|urlencode}}">{{user}}</a>
                        {% if !loop.last %},{% endif %}
                    {% endfor %}
                {% endif %}
                </div>
                <form class=footer-aside action="moderate-comment?U={{session.uuid}}" method=POST>
                    <input type="hidden" name="comment" value="{{comment.id}}">
                        <button name="action" value="approve" class=button-default>Approve</button>
                        <a href="edit-comment?comment={{comment.id}}" class=button>Edit</a>
                        <button name="action" value="delete">Delete</button>
                </form>
            </footer>
        </aside>
  {% endmatch %}
{% endfor %}
{% endblock %}
