{{#*inline "page"}}
        <div class=alert>No items found in the moderation queue</div>
        <p>You can go back to reading <a href=".">from the home page</a> if you want.</p>
{{/inline}}
{{~> layout~}}
