{% extends "layout.html" %}
{% block page %}
    <table class=good-table>
        <thead>
            <tr>
                <th>Date / Moderator</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in log %}
            <tr>
                <td><a href="?after={{entry.id}}">{{entry.created_at}}</a> / {{entry.created_by_username}}</td>
                <td>
                    <dl>
                        {% match entry.payload %}
                        {% when serde_json::Value::Object with (map) %}
                            {% for item in map.iter() %}
                                <dt>{{item.0}}</dt>
                                <dd>
                                    <pre>{{item.1}}</pre>
                                </dd>
                            {% endfor %}
                        {% when serde_json::Value::Array with (list) %}
                            {% for (n, item) in list.iter().enumerate() %}
                                <dt>{{n}}</dt>
                                <dd>
                                    <pre>{{item}}</pre>
                                </dd>
                            {% endfor %}
                        {% else %}
                            <dt>&bull;&bull;&bull;</dt>
                            <dd>
                                <pre>{{entry.payload}}</pre>
                            </dd>
                        {% endmatch %}
                    </dl>
                </td>
            </tr>
        {% if loop.last %}
            <tr><td colspan="3"><a href="?after={{entry.id}}">Next page</a></td></tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}