{{#*inline "page"}}
{{#if customization.blog_post_notice_html}}
<div class=inner-banner>{{{customization.blog_post_notice_html}}}</div>
{{/if}}
<form action="submit{{#if user.id}}?U={{session.uuid}}{{/if}}" method=POST>
    <label>Title <input name=title autofocus is=smart-punct-input></label>
    <label for=tags-typeahead-input>Tags</label> <div class=typeahead-outer>
        <input id=tags-typeahead-input name=tags is=tags-typeahead>
    </div>
    <label>Write your post
        <smart-textarea><textarea name=excerpt is=smart-punct-textarea required></textarea></smart-textarea>
    </label>
    <input type=hidden name=blog_post value=true>
    <div class=form-footer>
        <button>Create post</button>
    </div>
</form>
{{/inline}}
{{~> layout~}}
