{{#*inline "page"}}
    <form action="submit{{#if user.id}}?U={{session.uuid}}{{/if}}" method=POST>
        <label>Title and #hashtags <input name=title autofocus required is="smart-punct-input"></label>
        <label>Write your post
            <smart-textarea><textarea name=excerpt is=smart-punct-textarea required></textarea></smart-textarea>
        </label>
        <div class=form-footer>
            <button>Create post</button>
        </div>
    </form>
{{/inline}}
{{~> layout~}}
