{{#*inline "page"}}
    <form action='submit' method=POST>
        <label>Title and #hashtags <input name=title autofocus required is="smart-punct-input"></label>
        <label>Write your post
            <smart-textarea><textarea name=excerpt is="smart-punct-textarea" class="main" required></textarea></smart-textarea>
        </label>
        <button>Submit</button>
    </form>
{{/inline}}
{{~> (parent)~}}
