{% extends "layout.html" %}
{% block page %}
{% if !customization.link_submit_notice_html.is_empty() %}
<div class=inner-banner>{{customization.link_submit_notice_html|safe}}</div>
{% endif %}
<form class=tab-bar action="preview-submit?U={{session.uuid}}#submit-form" method=POST id=submit-form>
    <button class=tab>Edit</button><label for=preview class=active-tab>Preview</label>
    <input type=hidden name=no_preview value=true>
    <input type=hidden name=title value="{{post.title}}">
    <input type=hidden name=url value="{% if post.url.is_some() %}{{post.url.as_ref().unwrap()}}{% endif %}">
    <input type=hidden name=excerpt value="{% if excerpt.is_some() %}{{excerpt.as_ref().unwrap()}}{% endif %}">
    <input type=hidden name=blog_post value=false>
</form>
<div class=tab-box><article id=preview>
    <h2 class=article-header>{{post.title_html|safe}}</h2>
    {% if post.excerpt_html.is_some() %}
        <main>{{post.excerpt_html.as_ref().unwrap()|safe}}</main>
    {% endif %}
    <footer class=footer-container>
    <div class=footer-main>
    <button disabled title="Cannot add star to preview" name="add_star">
        <img width=12 height=12 class=good-img src=assets/star.svg alt="Cannot add star to preview">
    </button>
    {% if post.anon %}
    {% if user.trust_level >= 3 %}
    <details class=details-dialog-outer>
        <summary class=inline-summary><u>anonymous</u></summary>
        <details-dialog>{{post.submitted_by_username}}</details-dialog>
    </details>
    {% else %}
    anonymous
    {% endif %}
    {% else %}
    <a href="@{{post.submitted_by_username_urlencode}}">{{post.submitted_by_username}}</a>
    {% endif %}
    submitted
    <span is=local-date title="{{post.created_at}}+00:00">{{post.created_at_relative}} <span class=hide-small>ago</span></span>
    </div>
    <details-menu-bar class=footer-aside>
        <details class="details-menu-outer backwards">
        <summary class="details-menu-summary backwards" aria-haspopup=menu role=button>More</summary>
        <div class="details-menu-inner backwards" role=menu>
            <a href="#" class=details-menu-item>N/A</a>
        </div>
        </details>
    </details-menu-bar>
    </footer>
</article></div>
{% endblock %}
