{{#*inline "page"}}
<header class=tight-headline>
<h2>@{{title}}</h2>
<nav><b>Posts</b> &bull; <a href=comments?user={{title}}>Comments</a>{{#if is_me}} &bull; <a href=subscriptions>Subscriptions</a>{{/if}}</nav>
</header>
{{~> view-index~}}
{{/inline}}
{{~> layout~}}
