{% extends "layout.html" %}
{% block page %}
<header class=tight-headline>
<h2>@{{title}}</h2>
<nav><a href=@{{title|urlencode}}>Posts</a> &bull; <b>Comments</b>{% if is_me %} &bull; <a href=subscriptions>Subscriptions</a>{% endif %}</nav>
</header>
{% for comment in comment_search_result %}
    <h3><a href={{comment.post_uuid}}>{{comment.post_title}}</a></h3>
    <aside>
        <main class=main-aside>{{comment.html|safe}}</main>
        <footer>
            posted by {{comment.created_by_username}}
            <local-date title="{{comment.created_at}}+00:00">{{comment.created_at_relative}}<span class=hide-small> ago</span></local-date>
        </footer>
    </aside>
    {% if loop.last %}
    <p><a href="?user={{title}}&after={{comment.id}}">Next page</a></p>
    {% endif %}
{% endfor %}
{% endblock %}
