{% extends "layout.html" %}
{% block page %}
    <aside id="{{comment.id}}">
        <header class=aside-header>
            {{comment.created_by_username}}
            <span class="top-header-link top-header-aside"><a class=top-header-link is=local-date href="#{{comment.id}}" title="{{comment.created_at}}+00:00">{{comment.created_at_relative}} <span class=hide-small>ago</span> #{{comment.id}}</a></span>
        </header>
        <main>{{comment.html|safe}}</main>
        <form action="vote-comment?redirect={{post.uuid}}&U={{session.uuid}}" method=POST>
        <footer class=footer-container>
            <div class=footer-main>
            <button{% if user.id != 0 %} title="{% if comment.starred_by_me %}Remove star{% else %}Add star{% endif %}"{% else %} disabled title="Log in to vote"{% endif %} name="{% if comment.starred_by_me %}rm_star_comment{% else %}add_star_comment{% endif %}" value={{comment.id}}>
                <img width=12 height=12 class=good-img src=assets/{% if comment.starred_by_me %}star_active.svg{% else %}star.svg{% endif %} alt="{% if comment.starred_by_me %}Remove star{% else %}Add star{% endif %}">
            </button>
            <details class=details-dialog-outer id=sc-{{comment.id}}>
                <summary class=inline-summary><u>
                    {{crate::template::replace(customization.comment_score_text, comment.starred_by.len())}}
                </u></summary>
                <details-dialog>
                    <ul>
                        {% for this in comment.starred_by %}
                            <li><a href="@{{this|urlencode}}">{{this}}</a></li>
                        {% endfor %}
                    </ul>
                </details-dialog>
            </details>
            </div>
            <details-menu-bar class=footer-aside>
                <button disabled>↩ Reply</button>
                <details class="details-menu-outer backwards">
                <summary class="details-menu-summary backwards" aria-haspopup=menu role=button>More</summary>
                <div class="details-menu-inner backwards" role=menu>
                <a href="#{{comment.id}}" class=details-menu-item>Permalink</a>
                {% if (user.trust_level >= 3 || comment.created_by == user.id) %}
                <a href="edit-comment?comment={{comment.id}}" class=details-menu-item>Edit</a>
                {% endif %}
                {% if user.trust_level >= 1 %}
                <button class=details-menu-item name="{% if comment.flagged_by_me %}rm_flag_comment{% else %}add_flag_comment{% endif %}" value={{comment.id}}>
                    {% if comment.flagged_by_me %}Remove flag{% else %}Add flag{% endif %}
                </button>
                {% endif %}
                </div>
            </details>
            </details-menu-bar>
        </footer>
        </form>
    </aside>
    <hr>
    <div class=tab-bar>
        <label for=comment-form class=active-tab>Edit</label><button name=preview value=preview class=tab form=comment-form formaction="preview-comment?U={{session.uuid}}#comment-form" onclick="if(!this.form||!this.formAction){var f=document.forms['comment-form'];f.action=this.getAttribute('formaction');var inp=document.createElement('input');inp.name='preview';inp.value='preview';inp.type='hidden';f.appendChild(inp);f.submit();return false}">Preview</button>
    </div>
    <div class=tab-box>
    <form action="comment?U={{session.uuid}}" method=POST id=comment-form>
        <label>
            <h3 id=comment-form>Add your comment</h3>
            <smart-textarea><textarea name=text autofocus required is=smart-punct-textarea>{{comment.created_by_username|usernamewrap}} #{{comment.id}}

</textarea></smart-textarea>
        </label>
        <input type=hidden name=post value="{{post.uuid}}">
        <span style="float:left;margin-top:1em;position:relative;top:2px"><button>Add comment</button>&nbsp;</span>
    </form>
    <details-menu-bar class=form-footer>
        <details class=details-menu-outer>
            <summary class=details-menu-summary aria-haspopup=menu role=button>{% if is_subscribed %}Subscribed{% else %}Not subscribed{% endif %}</summary>
            <form class=details-menu-inner role=menu action="subscriptions?redirect={{post.uuid}}&U={{session.uuid}}" method=POST is=subscriptions-menu>
                <input type=hidden name=post value="{{post.uuid}}">
                <button class=details-menu-item role=menuitem name=subscribed value=true>Subscribe</button>
                <button class=details-menu-item role=menuitem name=subscribed value=false>Unsubscribed</button>
            </form>
        </details>
    </details-menu-bar>
    </div>
{% endblock %}
