{{#*inline "page"}}
    <h2>Hi there!</h2>
    <form action=consume-invite method=post>
        <input type=hidden name=invite_token value="{{invite_token}}">
        <label>Pick your new username <input name=username autofocus></label>
        <label>Pick your new password <input name=password type=password></label>
        <button>Log in</button>
    </form>
{{/inline}}
{{~> (parent)~}}
