{{#*inline "page"}}
{{#if customization.link_submit_notice_html}}
<div class=inner-banner>{{{customization.link_submit_notice_html}}}</div>
{{/if}}
<form action="{{#if user.id}}?U={{session.uuid}}{{/if}}" method=POST>
    <label>URL <input name=url required autofocus></label>
    <label>Title <input name=title is=smart-punct-input></label>
    <label for=tags-typeahead-input>Tags</label> <div class=typeahead-outer>
        <input id=tags-typeahead-input name=tags is=tags-typeahead>
    </div>
    <label>Excerpt
        <smart-textarea><textarea name=excerpt is=smart-punct-textarea></textarea></smart-textarea>
    </label>
    <div class=form-footer>
        <button>Submit link</button>
    </div>
</form>
{{/inline}}
{{~> layout~}}
