{{#*inline "page"}}
  <form action='' method=post>
      <label>Title and #hashtags <input name=title autofocus></label>
      <label>URL <input name=url></label>
      <label>Excerpt <textarea name=excerpt></textarea></label>
      <button>Submit</button>
  </form>
{{/inline}}
{{~> (parent)~}}
