{{#*inline "page"}}
  <form action='' method=POST>
      <label>Title and #hashtags <input name=title autofocus></label>
      <label>URL <input name=url></label>
      <label>Excerpt <textarea name=excerpt placeholder="If you leave this empty, we'll try to automatically pull it from the page."></textarea></label>
      <button>Submit</button>
  </form>
{{/inline}}
{{~> (parent)~}}
