{{#*inline "page"}}
    <ul>
        {{#each tags}}
            <li><a href="./?tag={{this.name}}">#{{this.name}}</a>: {{this.description}}</li>
        {{/each}}
    </ul>
{{/inline}}
{{~> layout~}}
