<details class=details-dialog-outer>
    <summary class=details-dialog-summary>Search</summary>
    <details-dialog>
        <form action='./' method=GET>
            <label>Search <input name=q autofocus type=search required></label>
            <div class=form-footer>
                <button class=button-default>Search</button>
                <details-dialog-close><a href="." class=button>Cancel</a></details-dialog-close>
            </div>
        </form>
    </details-dialog>
</details>
