<details class=details-dialog-outer>
    <summary class=details-dialog-summary title=Search>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="0.75em"
            height="0.75em"
            viewBox="0 0 16 16"
            version="1.1">
        <circle
            r="5"
            cy="7"
            cx="6"
            style="fill:none;stroke:currentColor;stroke-width:1.5" />
        <path
            d="M 16,15 10,10"
            style="fill:none;stroke:currentColor;stroke-width:2" />
        <desc>Search</desc>
        </svg>
    </summary>
    <details-dialog>
        <form action='./' method=GET>
            <label>Search <input {{#if keywords_param}}value="{{keywords_param}}"{{/if}} name=q autofocus type=search required></label>
            <details><summary>Advanced</summary>
            <label>{{#if customization.title_label}}{{customization.title_label}}{{else}}Title{{/if}} <input name=title type=search></label>
            </details>
            <div class=form-footer>
                <button class=button-default>Search</button>
                <a href="" onclick="return !window.DetailsDialogElement" class=button data-close-dialog>Cancel</a>
            </div>
        </form>
    </details-dialog>
</details>
