<ajax-form>
{%- if user.id != 0 -%}
{%- for post in posts %}{% if post.hidden_by_me %}<article id={{post.uuid}}><form action="vote?redirect=2&U={{session.uuid}}" method=POST><button class=hide-button title=Show name=rm_hide value={{post.uuid}}><b>+</b></button> {{post.title}}</form></article>{% else %}
{% if post.banner_title.is_some() %}
    <p class=post-banner>{{post.banner_title.as_ref().unwrap()|safe}}</p>
{% endif %}
{% if post.banner_desc.is_some() %}
    <p class=post-banner-desc>{{post.banner_desc.as_ref().unwrap()|safe}}</p>
{% endif %}
<article id={{post.uuid}} class="{% if post.blog_post %}blog-post{% endif %}">
    <h2 class=article-header>{% if post.private %}<span class=article-header-inner>🔒 </span>{% endif %} {{post.title_html|safe}}{% if post.blog_post %} <a class="blog-tag-article-header-inner" href=blog>blog</a>{% endif %}</h2>
    {% if post.excerpt_html.is_some() %}
        <main>{{post.excerpt_html.as_ref().unwrap()|safe}}</main>
    {% endif %}
    <form action="vote?redirect=2&U={{session.uuid}}" method=POST>
    <button class=hide-button title=Hide name=add_hide value={{post.uuid}}><b>-</b></button>
    <footer class=footer-container>
    <div class=footer-main>
    {% if post.starred_by_me %}
    <button class="{% if post.blog_post %}blog-post-star{% endif %}" title="Remove star" name="rm_star" value={{post.uuid}}>
        <img width=12 height=12 class=good-img src=assets/star_active.svg alt="Remove star">
    </button>
    {% else %}
    <button class="{% if post.blog_post %}blog-post-star{% endif %}" title="Add star" name="add_star" value={{post.uuid}}>
        <img width=12 height=12 class=good-img src=assets/star.svg alt="Add star">
    </button>
    {% endif %}
    {% if post.anon %}
    {% if user.trust_level >= 3 %}
    <details class=details-dialog-outer>
        <summary class=inline-summary><u>anonymous</u></summary>
        <details-dialog>{{post.submitted_by_username}}</details-dialog>
    </details>
    {% else %}
    anonymous
    {% endif %}
    {% else %}
    <a href="@{{post.submitted_by_username_urlencode}}">{{post.submitted_by_username}}</a>
    {% endif %}
    {% if post.blog_post %}authored{% else %}submitted{% endif %}
    <a is=local-date href="{{post.uuid}}" title="{{post.created_at}}+00:00">{{post.created_at_relative}}<span class=hide-small> ago</span></a> and got
    <a href="{{post.uuid}}#comments">{{post.comment_count}} comments</a>
    </div>
    <details-menu-bar class=footer-aside>
        {% if post.locked %}{% else %}<a href="{{post.uuid}}#comment-form" class="button overflow">↩ Comment</a>{% endif %}
        <details class="details-menu-outer backwards">
        <summary class="details-menu-summary backwards" aria-haspopup=menu role=button>More</summary>
        <div class="details-menu-inner backwards" role=menu>
            <a href="{{post.uuid}}" class=details-menu-item>Permalink</a>
        {% if user.trust_level >= 3 %}
            <a href="edit-post?post={{post.uuid}}" class=details-menu-item>Edit</a>
        {% endif %}
        {% if user.trust_level >= 1 %}
            <button class=details-menu-item name="{% if post.flagged_by_me %}rm_flag{% else %}add_flag{% endif %}" value={{post.uuid}}>
                {% if post.flagged_by_me %}Remove flag{% else %}Add flag{% endif %}
            </button>
        {% endif %}
            <a href="+{{post.uuid}}" class=details-menu-item>Similar</a>
        </div>
        </details>
    </details-menu-bar>
    </footer></form>
</article>{%endif %}{% endfor %}{% else %}{% for post in posts -%}
{% if post.banner_title.is_some()%}
    <p class=post-banner>{{post.banner_title.as_ref().unwrap()|safe}}</p>
{% endif %}
{% if post.banner_desc.is_some() %}
    <p class=post-banner-desc>{{post.banner_desc.as_ref().unwrap()|safe}}</p>
{% endif %}
<article id={{post.uuid}} class="{% if post.blog_post %}blog-post{% endif %}">
    <h2 class=article-header>{% if post.private %}<span class=article-header-inner>🔒 </span>{% endif %} {{post.title_html|safe}}{% if post.blog_post %} <a class="blog-tag-article-header-inner" href=blog>blog</a>{% endif %}</h2>
    {% if post.excerpt_html.is_some() %}
        <main>{{post.excerpt_html.as_ref().unwrap()|safe}}</main>
    {% endif %}
    <footer class=footer-container>
    <div class=footer-main>
    <button class="{% if post.blog_post %}blog-post-star{% endif %}" disabled title="Log in to add star" name="add_star">
        <img width=12 height=12 class=good-img src=assets/star.svg alt="Log in to add star">
    </button>
    {% if post.anon %}
    {% if user.trust_level >= 3 %}
    <details class=details-dialog-outer>
        <summary class=inline-summary><u>anonymous</u></summary>
        <details-dialog>{{post.submitted_by_username}}</details-dialog>
    </details>
    {% else %}
    anonymous
    {% endif %}
    {% else %}
    <a href="@{{post.submitted_by_username_urlencode}}">{{post.submitted_by_username}}</a>
    {% endif %}
    {% if post.blog_post %}authored{% else %}submitted{% endif %}
    <a is=local-date href="{{post.uuid}}" title="{{post.created_at}}+00:00">{{post.created_at_relative}}</a>
    and got <a href="{{post.uuid}}#comments">{{post.comment_count}} comments</a>
    </div>
    <details-menu-bar class=footer-aside>
        <details class="details-menu-outer backwards">
        <summary class="details-menu-summary backwards" aria-haspopup=menu role=button>More</summary>
        <div class="details-menu-inner backwards" role=menu>
            <a href="{{post.uuid}}" class=details-menu-item>Permalink</a>
        </div>
        </details>
    </details-menu-bar>
    </footer>
</article>{%endfor %}{% endif %}
</ajax-form>
